@charset "UTF-8";
/* -------------------------
コーポレートカラー
----------------------------*/
/* -------------------------
コーポレート サブカラー
----------------------------*/
/* -------------------------
ガイドブック用カラー
----------------------------*/
/* -------------------------
Wantedly用カラー
----------------------------*/
/* 古いclassの崩れ対策 */
.NotoBold {
  font-weight: bold;
}

/* Animation */
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*~~~~~~~~~~~~~~~~
  common components
~~~~~~~~~~~~~~~~~~*/
* {
  box-sizing: border-box;
}

/*~~~~~~~~~~~~~~~~
  common components
~~~~~~~~~~~~~~~~~~*/
.wantedly_wrapper {
  background-color: #fff5e6;
  /*~~黄色マーカー~~~*/
  /*~~黄色マーカー2~~~*/
  /*~~白色マーカー2~~~*/
  /*~~オレンジ文字~~*/
  /*~~白文字~~~*/
  /*~~逆八の字のライン~~~*/
}
.wantedly_wrapper .content {
  padding: 0;
  margin: 0;
}
.wantedly_wrapper .inner-block {
  padding: 0 1rem;
  z-index: 5;
}
@media screen and (min-width: 840px) {
  .wantedly_wrapper .inner-block {
    padding: 0;
  }
}
.wantedly_wrapper .borderbox2 {
  border: 4px solid #3E3A39;
  border-radius: 20px;
}
.wantedly_wrapper .main-box {
  border: 3px solid #3E3A39;
  background: #FFFFFF;
  border-radius: 30px;
}
@media screen and (min-width: 840px) {
  .wantedly_wrapper .main-box {
    border-width: 4px;
  }
}
.wantedly_wrapper .cta_btn_inner p {
  line-height: 1;
  top: -0.5rem;
}
.wantedly_wrapper .cta_btn_inner a {
  max-width: 100%;
  min-width: unset;
  width: 100%;
  font-size: 1rem;
  padding-block: 1rem;
  margin-block-start: 2rem;
}
@media screen and (min-width: 840px) {
  .wantedly_wrapper .cta_btn_inner a {
    min-width: 313px;
  }
}
.wantedly_wrapper .cta_btn_inner.black_btn p {
  background: #ffd93b;
  border: 2px solid #3E3A39;
}
.wantedly_wrapper .cta_btn_inner.black_btn p::after {
  content: none;
}
.wantedly_wrapper .cta_btn_inner.black_btn a {
  background-image: none;
  border-color: #3E3A39;
}
.wantedly_wrapper .cta_btn_inner.black_btn a::after {
  content: none;
}
@media (hover: hover) {
  .wantedly_wrapper .cta_btn_inner.black_btn:hover p {
    background: #3E3A39;
    color: #F9BB00;
  }
}
.wantedly_wrapper .cta_btn_inner.yellow_btn p::after {
  content: none;
}
.wantedly_wrapper .cta_btn_inner.yellow_btn a {
  border-color: #3E3A39;
}
.wantedly_wrapper .cta_btn_inner.yellow_btn a::after {
  content: none;
}
.wantedly_wrapper .btn_wrap.btn_wrap01 .box + .box {
  margin: 0;
}
.wantedly_wrapper .colormaker {
  background: linear-gradient(transparent 75%, #f9bb00 20%);
}
.wantedly_wrapper .colormaker2 {
  background: linear-gradient(transparent 60%, #ffd93b 20%);
}
.wantedly_wrapper .colormaker3 {
  background: linear-gradient(transparent 75%, #ffffff 20%);
}
.wantedly_wrapper .colortxt {
  color: #FF8200;
}
.wantedly_wrapper .f-white {
  color: #FFFFFF;
}
.wantedly_wrapper .f-yellow {
  color: #fbb03b;
}
.wantedly_wrapper .catch_maintxt {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.wantedly_wrapper .catch_subtxt {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: #3E3A39;
  color: #FFFFFF;
  border-radius: 60px;
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 840px) {
  .wantedly_wrapper .catch_subtxt {
    padding-inline: 2rem;
  }
}
.wantedly_wrapper .title {
  margin: 0;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.wantedly_wrapper .title_min_txt {
  font-size: 1.2rem;
}
.wantedly_wrapper .title_dott_mark {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  letter-spacing: 0.07em;
}
.wantedly_wrapper .title_dott_mark::before, .wantedly_wrapper .title_dott_mark::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #3E3A39;
  border-radius: 50%;
}
.wantedly_wrapper .title_em-circle {
  text-emphasis: filled;
  -webkit-text-emphasis: filled;
}
.wantedly_wrapper .date-box {
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.wantedly_wrapper .date-box > dd,
.wantedly_wrapper .date-box > dt {
  margin: 0;
  padding: 0;
}
.wantedly_wrapper .desc {
  font-size: 1rem;
}
.wantedly_wrapper .voice_line {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 900;
}
.wantedly_wrapper .voice_line::before, .wantedly_wrapper .voice_line::after {
  content: "";
  display: inline-block;
  background-color: #000;
  width: 35px;
  height: 0.1rem;
}
.wantedly_wrapper .voice_line::before {
  transform: rotate(55deg);
  transform-origin: center;
}
.wantedly_wrapper .voice_line::after {
  transform: rotate(-55deg);
  transform-origin: center;
}
@media screen and (min-width: 840px) {
  .wantedly_wrapper .voice_line {
    font-size: 1.125rem;
  }
}
.wantedly_wrapper .arrow_icon {
  position: relative;
  z-index: 5;
}
.wantedly_wrapper .arrow_icon::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url(../../img/wantedly/arrow-min.webp) no-repeat center/contain;
  margin: auto;
}

.speech {
  display: block;
  width: 100%;
  height: 130px;
  position: absolute;
  background: url(../../img/wantedly/speech-bubble.webp) no-repeat center/contain;
}
@media screen and (min-width: 840px) {
  .speech {
    width: 100%;
    height: 130px;
  }
}
.speech__text {
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 900;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.06em;
}
@media screen and (min-width: 840px) {
  .speech__text {
    top: 50%;
  }
}

.bg-white {
  background: #FFFFFF;
}
.bg-white:has(.main-visual__wrap) {
  padding-block-end: 0;
}
@media screen and (min-width: 840px) {
  .bg-white:has(.main-visual__wrap) {
    padding-block-end: 5rem;
  }
}
.bg-white:has(.voice_line) {
  padding-block-end: 1rem;
}

.bg-circle {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bg-circle::after {
  content: "";
  display: block;
  width: 100%;
  background: #FFFFFF;
  padding-top: 100%;
  border-radius: 50%;
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width: 840px) {
  .bg-circle::after {
    top: -12rem;
  }
}
@media screen and (min-width: 840px) {
  .bg-circle {
    width: 589px;
    margin: auto;
  }
}

/*--------------------------------
	scroll
--------------------------------*/
.scroll-infinity {
  display: flex;
  overflow: hidden;
}
.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
  animation: infinity-scroll-left 10s infinite linear 0.5s both;
}
.scroll-infinity__item {
  width: 33.3333333333vw;
}
@media screen and (min-width: 840px) {
  .scroll-infinity__item {
    width: 25vw;
  }
}
.scroll-infinity__item img {
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~
heading
~~~~~~~~~~~~~~~~~~*/
.content-head--troubles .catch_maintxt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.75rem;
}
@media screen and (min-width: 840px) {
  .content-head--troubles .catch_maintxt {
    font-size: 3rem;
    width: fit-content;
    margin: auto;
    margin-block-end: 1rem;
  }
}
.content-head--troubles .catch_maintxt::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: url(../../img/wantedly/drops-min.webp) no-repeat center/contain;
  position: absolute;
  right: 5rem;
  top: 1rem;
}
@media screen and (min-width: 840px) {
  .content-head--troubles .catch_maintxt::after {
    width: 43px;
    height: 42px;
    right: -5rem;
    top: 1rem;
  }
}
.content-head--troubles .title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 840px) {
  .content-head--troubles .title {
    font-size: 1.5rem;
  }
}
.content-head--troubles .title_dott_mark {
  font-size: 1.5rem;
}
@media screen and (min-width: 840px) {
  .content-head--troubles .title_dott_mark {
    font-size: 2rem;
  }
}
.content-head--troubles .content-head__inr {
  padding-block: 2rem;
}
.content-head--answer .content-head__inr {
  overflow: hidden;
}
.content-head--answer .catch_maintxt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-block-end: 1rem;
  padding-block-start: 1rem;
}
@media screen and (min-width: 840px) {
  .content-head--answer .catch_maintxt {
    column-gap: 2rem;
  }
}
.content-head--answer .catch_maintxt::before, .content-head--answer .catch_maintxt::after {
  content: "";
  width: 25px;
  height: 30px;
  background: url(../../img/wantedly/em-min.webp) no-repeat center top/contain;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 840px) {
  .content-head--answer .catch_maintxt::before, .content-head--answer .catch_maintxt::after {
    width: 30px;
    height: 41px;
    margin-block-end: 2rem;
  }
}
.content-head--answer .catch_maintxt::before {
  transform: scale(-1, 1);
  left: 0;
}
.content-head--answer .catch_maintxt::after {
  right: 0;
}
.content-head--answer .title {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 840px) {
  .content-head--answer .title {
    font-size: 1.25em;
  }
}
.content-head--answer .title_dott_mark {
  font-size: 1.75rem;
}
@media screen and (min-width: 840px) {
  .content-head--answer .title_dott_mark {
    font-size: 2rem;
  }
}
.content-head--reason {
  margin-block-end: 3rem;
  position: relative;
}
@media screen and (min-width: 840px) {
  .content-head--reason {
    width: fit-content;
    margin-inline: auto;
  }
}
@media screen and (min-width: 840px) {
  .content-head--reason::before, .content-head--reason::after {
    content: "";
    display: block;
    width: 46px;
    height: 68px;
    position: absolute;
  }
}
.content-head--reason::before {
  top: -3rem;
  left: -5rem;
  background: url(../../img/wantedly/q-yellow-min.webp) no-repeat center/contain;
}
.content-head--reason::after {
  bottom: 0;
  right: -5rem;
  background: url(../../img/wantedly/q-orange-min.webp) no-repeat center/contain;
}
.content-head--reason .catch_maintxt {
  margin-block-end: 1rem;
}
@media screen and (min-width: 840px) {
  .content-head--reason .catch_maintxt {
    font-size: 3.25rem;
    position: relative;
  }
}
@media screen and (min-width: 840px) {
  .content-head--reason .catch_maintxt::before {
    content: "";
    display: block;
    width: 63px;
    height: 79px;
    background: url(../../img/wantedly/h-reason-img-min.webp) no-repeat top/contain;
    position: absolute;
    bottom: 0;
    left: 1rem;
  }
}
.content-head--reason .title {
  font-size: 1.25rem;
}
.content-head--reason .speech {
  top: -10rem;
}
@media screen and (min-width: 840px) {
  .content-head--reason .speech {
    top: -7rem;
    right: -15rem;
    transform: rotate(7deg);
    height: 110px;
  }
}
.content-head--case {
  position: relative;
  z-index: 5;
}
.content-head--case .content-head__inr {
  width: 100%;
}
@media screen and (min-width: 840px) {
  .content-head--case .content-head__inr {
    width: fit-content;
    margin-inline: auto;
  }
}
@media screen and (min-width: 840px) {
  .content-head--case .content-head__inr::before, .content-head--case .content-head__inr::after {
    content: "";
    display: block;
    position: absolute;
  }
}
.content-head--case .content-head__inr::before {
  top: auto;
  left: -12rem;
  width: 162px;
  height: 130px;
  background: url(../../img/wantedly/h-case-img01-min.webp) no-repeat center/contain;
}
.content-head--case .content-head__inr::after {
  top: 5rem;
  right: -5rem;
  width: 33px;
  height: 41px;
  background: url(../../img/wantedly/light-bulb-min.webp) no-repeat center/contain;
}
.content-head--case .bg-circle::after {
  top: 5rem;
}
@media screen and (min-width: 840px) {
  .content-head--case .bg-circle::after {
    top: 0;
  }
}
.content-head--case .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-head--case .catch_maintxt {
  margin-block-end: 1rem;
}
@media screen and (min-width: 840px) {
  .content-head--case .speech {
    width: 300px;
    height: 100px;
    top: 3rem;
    right: -44rem;
    transform: rotate(15deg);
  }
}
.content-head--case .speech,
.content-head--case .content-head__inr {
  position: relative;
  z-index: 3;
}
.content-head--details {
  position: relative;
}
.content-head--details .title {
  font-size: 1.125rem;
  margin-block-end: 1rem;
}
@media screen and (min-width: 840px) {
  .content-head--details .title {
    font-size: 1.25rem;
    margin-block-end: 1rem;
  }
}
.content-head--details .catch_maintxt {
  margin-block-end: 1rem;
}
.content-head--details .speech {
  left: 0;
  top: -9rem;
}
@media screen and (min-width: 840px) {
  .content-head--details .speech {
    top: -8rem;
    left: -11rem;
    transform: rotate(-5deg);
    height: 110px;
  }
}
.content-head--flow {
  background: #FFFFFF;
  padding-block-end: 2rem;
}
.content-head--flow::before {
  display: none;
}
@media screen and (min-width: 840px) {
  .content-head--flow::before {
    content: "";
    display: block;
    width: 84px;
    height: 91px;
    background: url(../../img/wantedly/h-schedule-min.webp) no-repeat left/contain;
    position: absolute;
    left: 29rem;
    top: auto;
  }
}
.content-head--flow .content-head__inr {
  position: relative;
}
@media screen and (min-width: 840px) {
  .content-head--flow .content-head__inr {
    max-width: 1000px;
    margin: auto;
  }
}
.content-head--flow .speech {
  width: 350px;
  height: 100px;
  top: -7rem;
}
@media screen and (min-width: 840px) {
  .content-head--flow .speech {
    right: 14rem;
    top: auto;
    bottom: 3rem;
    transform: rotate(15deg);
  }
}
@media screen and (min-width: 1366px) {
  .content-head--flow .speech {
    right: 1rem;
  }
}
.content-head--flow .title {
  margin: 0;
}
.content-head--flow .catch_maintxt {
  margin-block-end: 0.5rem;
}
@media screen and (min-width: 840px) {
  .content-head--flow .catch_maintxt {
    margin-block-end: 1rem;
  }
}

/*--------------------------------
main visual
--------------------------------*/
.main-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
  padding: 1rem;
}
@media screen and (min-width: 840px) {
  .main-visual {
    max-width: 1366px;
    margin: auto;
    padding-block: 2.5rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 1367px) {
  .main-visual {
    max-width: unset;
  }
}
.main-visual::before, .main-visual::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  left: 0;
}
.main-visual::before {
  top: 0;
  background: url(../../img/wantedly/mv-sp_top.webp) no-repeat top/contain;
}
@media screen and (min-width: 840px) {
  .main-visual::before {
    content: none;
  }
}
.main-visual::after {
  background: url(../../img/wantedly/mv-sp_bottom.webp) no-repeat bottom/contain;
  bottom: 0;
}
@media screen and (min-width: 840px) {
  .main-visual::after {
    width: 100%;
    height: 100%;
    background: url(../../img/wantedly/mv-bg.webp) no-repeat center/cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.main-visual__wrap {
  background: #ffd215;
}
.main-visual__wrap .voice_line {
  margin: 0;
}
.main-visual__title {
  font-size: 1.375rem;
  line-height: 1.3;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 840px) {
  .main-visual__title {
    flex-direction: row;
    align-items: baseline;
    font-size: 2rem;
  }
}
.main-visual__title .em {
  font-size: 2.125rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 840px) {
  .main-visual__title .em {
    font-size: 3.125rem;
  }
}
.main-visual__inr {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 30px;
  padding-inline: 0.5rem;
  padding-block: 4rem 3rem;
  row-gap: 2rem;
}
@media screen and (min-width: 840px) {
  .main-visual__inr {
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr minmax(430px, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    max-width: 1273px;
    width: 100%;
    margin: auto;
    padding: 5.6875rem 3.0625rem 3.75rem 3.75rem;
  }
}
@media screen and (min-width: 840px) {
  .main-visual__inr__contents {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    justify-self: center;
  }
}
.main-visual__illust {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 235px;
}
@media screen and (min-width: 840px) {
  .main-visual__illust {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 320px;
  }
}
.main-visual__illust::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../img/wantedly/mv-people--sp.webp) no-repeat bottom/contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (min-width: 840px) {
  .main-visual__illust::after {
    top: 0;
    left: auto;
    right: 0;
    width: 100%;
    height: 320px;
    background: url(../../img/wantedly/mv-people-min.webp) no-repeat center/contain;
  }
}
.main-visual .wantedly-cta {
  width: 100%;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 840px) {
  .main-visual .wantedly-cta {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.main-visual .speech {
  width: 234px;
  height: 93px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  background: url(../../img/wantedly/mv-speech-bubble-min.webp) no-repeat center/contain;
}
@media screen and (min-width: 840px) {
  .main-visual .speech {
    top: 1rem;
    width: 480px;
    height: 120px;
  }
}
.main-visual .speech__text {
  transform: rotate(-2deg);
  font-weight: bold;
  position: absolute;
  left: 0.125rem;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.04em;
  top: 1.125rem;
}
@media screen and (min-width: 840px) {
  .main-visual .speech__text {
    font-size: 0.8125rem;
    top: 2rem;
    left: 0;
    text-align: center;
  }
}
.main-visual .speech__text .f-m {
  font-size: 0.875rem;
}
@media screen and (min-width: 840px) {
  .main-visual .speech__text .f-m {
    font-size: 1.0625rem;
  }
}
.main-visual .speech__text .f-l {
  font-size: 1.25rem;
}
@media screen and (min-width: 840px) {
  .main-visual .speech__text .f-l {
    font-size: 1.5rem;
  }
}
.main-visual .cta_btn_inner a {
  margin: 0;
}

.lead {
  background: #3E3A39;
  display: block;
  width: fit-content;
  padding-inline: 1rem;
  position: absolute;
  right: 1rem;
  top: auto;
}
@media screen and (min-width: 840px) {
  .lead {
    max-width: 330px;
    width: 100%;
    margin-inline-start: auto;
    position: static;
  }
}
.lead__text {
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.07em;
}

.point {
  margin-block-end: 1rem;
}
.point__item {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  font-size: 0.5625rem;
  font-weight: 900;
  padding-left: 0;
}
@media screen and (min-width: 840px) {
  .point__item {
    font-size: 1rem;
    padding-inline-start: 0.5rem;
    column-gap: 8px;
  }
}
.point__item:not(:last-of-type) {
  margin-block-end: 0.5rem;
}
.point__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #F9BB00;
  border-radius: 50%;
}

.achive {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 0.5rem;
  padding-inline: 1rem;
}
.achive-item {
  margin: 0;
  color: #605a4e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3px;
}
@media screen and (min-width: 840px) {
  .achive-item {
    width: 118px;
  }
}
.achive__img {
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 840px) {
  .achive__img {
    max-width: 95px;
  }
}

.wantedly-cta.btn_wrap {
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-direction: column-reverse;
  row-gap: 1.5rem;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 840px) {
  .wantedly-cta.btn_wrap {
    flex-direction: row;
    column-gap: 8px;
  }
}
.wantedly-cta.btn_wrap .box {
  margin: 0;
}

.main-visual__wrap--cta {
  background: #ffd215;
  padding-block: 1rem;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta {
    background: linear-gradient(155deg, #ffd93b 0%, #ffd93b 50%, #f9bb00 50%, #f9bb00 100%);
    padding-block: 0;
  }
}
.main-visual__wrap--cta .main-visual {
  padding: 0;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .main-visual {
    padding-block: 2rem;
  }
}
@media screen and (min-width: 1367px) {
  .main-visual__wrap--cta .main-visual {
    max-width: unset;
  }
}
.main-visual__wrap--cta .main-visual::after {
  bottom: -1rem;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .main-visual::after {
    background: url(../../img/wantedly/mv-bg-cta.webp) no-repeat center/100% 100%;
  }
}
@media screen and (min-width: 1367px) {
  .main-visual__wrap--cta .main-visual::after {
    background: url(../../img/wantedly/mv-bg-cta--large.webp) no-repeat center/cover;
  }
}
.main-visual__wrap--cta .main-visual::before {
  top: -1rem;
}
.main-visual__wrap--cta .main-visual__inr {
  border-radius: 0;
  padding-inline: 1rem;
  padding-block: 4rem 3rem;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .main-visual__inr {
    padding-inline: 4rem;
    padding-block: 5rem 3rem;
    border-radius: 30px;
  }
}
.main-visual__wrap--cta .main-visual__title {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .main-visual__title .em {
    font-size: 3.75rem;
  }
}
.main-visual__wrap--cta .achive {
  margin-block-end: 0;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .achive {
    justify-content: center;
  }
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .point {
    display: none;
  }
}
.main-visual__wrap--cta .speech::after {
  transform: rotate(0);
}
.main-visual__wrap--cta .speech__text {
  width: 100%;
  top: 1.5rem;
  left: 0;
  transform: rotate(0);
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .speech__text {
    right: 2rem;
  }
}
.main-visual__wrap--cta .lead {
  position: absolute;
}
.main-visual__wrap--cta .lead__text {
  font-size: 0.875rem;
}
@media screen and (min-width: 840px) {
  .main-visual__wrap--cta .cta_btn_inner.black_btn a {
    max-width: 270px;
  }
}

/* ~~~~~~~~~~~~~~~~
お悩みセクション
~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width: 840px) {
  .wantedly-content--troubles {
    background: url(../../img/wantedly/bg-top-min.webp) no-repeat top/contain;
  }
}
@media screen and (min-width: 840px) {
  .wantedly-content--troubles::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../img/wantedly/bg_trouble-min.webp) no-repeat top/contain;
    position: absolute;
  }
}
.wantedly-content--troubles .desc {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
}
.wantedly-content--troubles .em {
  display: block;
  font-size: 1.25rem;
}
.wantedly-content--troubles.arrow_icon::after {
  margin-block-start: 2rem;
}

.troubles_flame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (min-width: 840px) {
  .troubles_flame {
    justify-content: space-between;
    align-items: unset;
    flex-direction: row;
    gap: 1rem;
    max-width: 950px;
    margin: auto;
  }
}
.troubles_flame__item {
  padding: 1rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 840px) {
  .troubles_flame__item {
    width: 305px;
  }
}
.troubles_flame:first-of-type {
  justify-content: center;
  column-gap: 1rem;
  margin-block-end: 1rem;
}

.troubles_img {
  max-width: 200px;
}

/* ~~~~~~~~~~~~~~~~
アンサーセクション
~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width: 840px) {
  .wantedly-content--answer::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../img/wantedly/bg_answer-min.webp) no-repeat center/95%;
    position: absolute;
    top: 14rem;
    left: 0;
    right: 0;
  }
}
.wantedly-content--answer.content {
  margin: 0;
}
@media screen and (min-width: 840px) {
  .wantedly-content--answer.content {
    margin: 0;
  }
}
.wantedly-content--answer .inner-block {
  margin-block-start: 3rem;
  padding-inline: 1rem;
}

.answer-flame {
  background-color: #FFFFFF;
  position: relative;
  padding: 3rem 1rem 2.8rem 1rem;
}
@media screen and (min-width: 840px) {
  .answer-flame {
    max-width: 848px;
    margin-inline: auto;
    padding: 3rem 3rem 3.125rem;
  }
}
.answer-flame .catch_subtxt {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  width: 100%;
  font-size: 0.875rem;
}
@media screen and (min-width: 840px) {
  .answer-flame .catch_subtxt {
    font-size: 1.125rem;
    width: fit-content;
  }
}
.answer-flame .title {
  font-size: 1.5rem;
}
@media screen and (min-width: 840px) {
  .answer-flame .title {
    font-size: 1.75rem;
    letter-spacing: 0.07em;
  }
}

.answer-solution_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 940px;
  margin: 2rem auto 0 auto;
}
@media screen and (min-width: 840px) {
  .answer-solution_box {
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 1rem;
  }
}
@media screen and (min-width: 840px) {
  .answer-solution_img {
    width: 100%;
    max-width: 332px;
  }
}
@media screen and (min-width: 840px) {
  .answer-solution_text {
    width: 100%;
    max-width: 380px;
  }
}
.answer-solution_text .desc {
  font-weight: 900;
  font-size: 0.875rem;
  letter-spacing: 0.04rem;
}

/* ~~~~~~~~~~~~~~~~
高品質な理由セクション
~~~~~~~~~~~~~~~~~~*/
@media screen and (min-width: 840px) {
  .wantedly-content--reason {
    margin-block-start: 8rem;
  }
}
.wantedly-content--reason.content {
  margin-block-start: 15rem;
}
@media screen and (min-width: 840px) {
  .wantedly-content--reason.content {
    margin-block-start: 10rem;
  }
}
@media screen and (min-width: 840px) {
  .wantedly-content--reason .inner-block {
    max-width: 1200px;
    margin: auto;
    padding: 0;
  }
}

.reason_flame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  counter-reset: number 0;
}
@media screen and (min-width: 840px) {
  .reason_flame {
    align-items: unset;
    flex-direction: row;
    gap: 1rem;
  }
}

.reason-item {
  padding: 1rem 0.5rem 2rem;
  position: relative;
}
@media screen and (min-width: 840px) {
  .reason-item {
    padding: 2rem 1rem;
    width: 33.3333333333%;
  }
}
.reason-item__head {
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 180px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.12rem;
  letter-spacing: 0.04rem;
  text-align: center;
  background-color: #ffd93b;
  border: 3px solid #3E3A39;
  border-radius: 60px;
}
.reason-item__head::after {
  counter-increment: number 1;
  content: counter(number);
}
.reason-item__img {
  margin-block: 1rem 1.5rem;
}
.reason-item__title {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  margin-block-end: 1rem;
}
.reason-item__title .colormaker2 {
  font-size: 1.75rem;
}
.reason-item__title .em {
  font-size: 2rem;
}
.reason-item__body .desc {
  font-size: 0.8125rem;
  letter-spacing: 0.09em;
  text-align: center;
  font-weight: bold;
}
.reason-item:nth-child(2) .reason-item__head {
  background: #21bddb;
}
.reason-item:nth-child(3) .reason-item__head {
  background: #F9BB00;
}

/* ~~~~~~~~~~~~~~~~
ご支援できることセクション
~~~~~~~~~~~~~~~~~~*/
.wantedly-content--details.content {
  margin-block-start: 8rem;
}
@media screen and (min-width: 840px) {
  .wantedly-content--details.content {
    margin-block-start: 8rem;
  }
}
.wantedly-content--details .inner-block {
  max-width: 1200px;
}
@media screen and (min-width: 840px) {
  .wantedly-content--details .inner-block {
    width: 100%;
  }
}

.details-wrap {
  padding: 3rem 0.5rem 2rem;
  /* 格子状の背景 */
  background-color: #ffffff;
  background-image: linear-gradient(90deg, rgba(219, 219, 219, 0.5019607843) 1px, transparent 1px), linear-gradient(rgba(219, 219, 219, 0.5019607843) 1px, transparent 1px);
  background-position: 10px 10px;
  background-size: 31px 31px;
  border: 3px solid #3E3A39;
  border-radius: 40px;
  counter-reset: number 0;
  margin-block: 1rem 3rem;
}
@media screen and (min-width: 840px) {
  .details-wrap {
    padding: 3rem 6rem 2rem;
  }
}

.detail-item__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem 8px;
  margin-block-start: 0.5rem;
}
@media screen and (min-width: 840px) {
  .detail-item__wrap {
    margin-block-start: 1rem;
    gap: 3rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.detail-item__num {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-block-end: 0.5rem;
  padding: 4px 8px;
  background: #3E3A39;
  color: #FFFFFF;
  position: relative;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  min-height: 45px;
}
.detail-item__num::before {
  counter-increment: number 1;
  content: counter(number);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #3E3A39;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 0.5rem;
  top: auto;
  font-size: 0.75rem;
}
@media screen and (min-width: 840px) {
  .detail-item__num::before {
    font-size: 1rem;
    width: 22px;
    height: 22px;
  }
}
.detail-item__title {
  flex: 1;
  line-height: 1.2;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 840px) {
  .detail-item__title {
    font-size: 0.875rem;
  }
}
.detail-item__title.txt_min {
  font-size: 0.7rem;
  line-height: 0.9rem;
  padding: 0.2rem 0;
}
.detail-item__img {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-item__img > img {
  width: 122px;
  height: auto;
}
.detail-item__list {
  margin-block: 0.5rem;
  padding-inline-start: 0.5rem;
}
.detail-item__list-item {
  font-size: 0.625rem;
  position: relative;
  padding-inline-start: 0.75rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 840px) {
  .detail-item__list-item {
    margin: 0;
    margin-inline-start: 0;
  }
}
.detail-item__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #F9BB00;
  border-radius: 50%;
}
@media screen and (min-width: 840px) {
  .detail-item__list-item::before {
    top: 5px;
  }
}
.detail-item:nth-child(1) .detail-item__img, .detail-item:nth-child(4) .detail-item__img, .detail-item:nth-child(7) .detail-item__img {
  background: #F9BB00;
}
.detail-item:nth-child(2) .detail-item__img, .detail-item:nth-child(5) .detail-item__img, .detail-item:nth-child(8) .detail-item__img {
  background: #ffd93b;
}
.detail-item:nth-child(3) .detail-item__img, .detail-item:nth-child(6) .detail-item__img {
  background: #21bddb;
}
.detail-item .note {
  font-size: 0.625rem;
  line-height: 0.85rem;
  margin: 0;
  text-indent: -0.625rem;
  margin-inline-start: 1rem;
  text-align: left;
}

/* ~~~~~~~~~~~~~~~~
成功事例のセクション
~~~~~~~~~~~~~~~~~~*/
.wantedly-content--case {
  counter-reset: number 0;
  background: url(../../img/wantedly/bg-circle-min.webp) no-repeat center/cover;
}
@media screen and (min-width: 840px) {
  .wantedly-content--case {
    background-size: contain;
  }
}
.wantedly-content--case.content {
  margin-block-start: 4rem;
}
@media screen and (min-width: 840px) {
  .wantedly-content--case.content {
    margin-block-start: 4rem;
  }
}
@media screen and (min-width: 840px) {
  .wantedly-content--case .inner-block {
    max-width: 1100px;
    padding: 0;
  }
}

.case-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 840px) {
  .case-item {
    width: 100%;
    padding: 2rem 4rem;
  }
}
.case-item_head, .case-item_body {
  display: flex;
}
.case-item_head {
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (min-width: 840px) {
  .case-item_head {
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
  }
}
.case-item_head_mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #3E3A39;
  background: #ffd215;
}
@media screen and (min-width: 840px) {
  .case-item_head_mark {
    width: 111px;
    height: 111px;
  }
}
.case-item_head_mark::before {
  font-family: "M PLUS 1p", sans-serif;
  counter-increment: number 1;
  content: "Case" counter(number);
  margin: auto;
  font-size: 1.25rem;
  font-weight: 900;
}
@media screen and (min-width: 840px) {
  .case-item_head_mark::before {
    font-size: 1.5rem;
  }
}
.case-item_head_mark--blue {
  background: #21bddb;
}
.case-item_head_mark--orange {
  background: #f9bb00;
}
.case-item_title {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  flex: 1;
}
@media screen and (min-width: 840px) {
  .case-item_title {
    font-size: 2.5rem;
  }
}
.case-item_title .title_min_txt {
  display: block;
}
.case-item .desc {
  font-weight: bold;
  letter-spacing: 0.08em;
}
.case-item_body {
  flex-direction: column;
  margin-block-start: 2rem;
}
@media screen and (min-width: 840px) {
  .case-item_body {
    flex-direction: row;
    column-gap: 3rem;
  }
}
.case-item_body_title {
  background: #3E3A39;
  border-radius: 60px;
  display: inline-block;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 8px 1rem;
  position: absolute;
  top: -1rem;
  left: 1rem;
}
@media screen and (min-width: 840px) {
  .case-item_body_title {
    padding: 8px 2rem;
  }
}
.case-item_body_title p {
  line-height: 1;
}
.case-item_body_before, .case-item_body_after {
  border: 3px solid #3E3A39;
  border-radius: 1rem;
  background: url(../../img/wantedly/bg_case_item_body-min.webp) no-repeat center/cover;
  padding: 2rem 1rem;
  position: relative;
}
@media screen and (min-width: 840px) {
  .case-item_body_before, .case-item_body_after {
    max-width: 400px;
    width: 100%;
    padding: 2rem 1rem 1rem;
  }
}
.case-item_body_before::after {
  content: "";
  display: block;
  width: 55px;
  height: 76px;
  background: url(../../img/wantedly/case-before-min.webp) no-repeat center/contain;
  position: absolute;
  right: -1rem;
  bottom: -1rem;
}
@media screen and (min-width: 840px) {
  .case-item_body_before::after {
    right: -2rem;
    bottom: -1rem;
  }
}
.case-item_body_after {
  background-color: #F9BB00;
}
.case-item_body_after::before, .case-item_body_after::after {
  content: "";
  display: block;
  position: absolute;
}
.case-item_body_after::before {
  right: 0;
  top: -2rem;
  width: 31px;
  height: 43px;
  background: url(../../img/wantedly/light-bulb-min.webp) no-repeat center/contain;
  transform: scale(-1, 1);
}
@media screen and (min-width: 840px) {
  .case-item_body_after::before {
    right: -5px;
  }
}
.case-item_body_after::after {
  background: url(../../img/wantedly/case-after-min.webp) no-repeat center/contain;
  right: -1rem;
  bottom: -1.5rem;
  width: 65px;
  height: 74px;
}
@media screen and (min-width: 840px) {
  .case-item_body_after::after {
    right: -2rem;
  }
}
.case-item_body_inr {
  display: flex;
  flex-direction: column;
}
.case-item_body .desc {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
}
.case-item_body .em {
  font-size: 1.5rem;
}
.case-item_body .arrow_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-item_body .arrow_icon::after {
  width: 70px;
  height: 110px;
}
@media screen and (min-width: 840px) {
  .case-item_body .arrow_icon::after {
    transform: rotate(270deg);
    width: 53px;
    height: 75px;
  }
}
.case-item_body .date-box {
  column-gap: 8px;
}
.case-item-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-block-start: 3rem;
}
@media screen and (min-width: 840px) {
  .case-item-wrap {
    margin-block-start: 4rem;
  }
}

/* ~~~~~~~~~~~~~~~~
導入の流れセクション
~~~~~~~~~~~~~~~~~~*/
.wantedly-content--flow {
  position: relative;
}
.wantedly-content--flow.content {
  padding-block-start: 2rem;
}
@media screen and (min-width: 840px) {
  .wantedly-content--flow.content {
    padding-block-start: 0;
  }
}
.wantedly-content--flow.content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background: url(../../img/wantedly/bg-bottom-min.webp) no-repeat center/cover;
}
@media screen and (min-width: 840px) {
  .wantedly-content--flow.content::before {
    height: 280px;
  }
}
.wantedly-content--flow .inner-block.arrow_icon::after {
  visibility: visible;
}
@media screen and (min-width: 840px) {
  .wantedly-content--flow::after {
    content: "";
    position: absolute;
    top: 15rem;
    left: 0;
    right: 0;
    display: block;
    background: url(../../img/wantedly/bg-arrow-min.webp) no-repeat top/contain;
    max-width: 1366px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.flow-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  background: #FFFFFF;
  padding: 2rem;
}
@media screen and (min-width: 840px) {
  .flow-item {
    flex-direction: row;
    column-gap: 64px;
  }
}
.flow-item_wrap {
  background: #bfe3e8;
  counter-reset: number 0;
  border: 3px solid #3E3A39;
  border-radius: 40px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0;
}
@media screen and (min-width: 840px) {
  .flow-item_wrap {
    max-width: 850px;
    margin: auto;
  }
}
.flow-item_head {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
@media screen and (min-width: 840px) {
  .flow-item_head {
    column-gap: 2rem;
    justify-content: flex-start;
  }
}
.flow-item_head_mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #3E3A39;
  border-radius: 50%;
}
@media screen and (min-width: 840px) {
  .flow-item_head_mark {
    width: 50px;
    height: 50px;
  }
}
.flow-item_head_mark::after {
  counter-increment: number 1;
  content: counter(number);
  color: #FFFFFF;
}
@media screen and (min-width: 840px) {
  .flow-item_head_mark::after {
    font-size: 2rem;
  }
}
.flow-item_head_title {
  font-size: 1.25rem;
  font-weight: bold;
}
.flow-item_body {
  flex: 2;
}
.flow-item_body .desc {
  font-weight: bold;
  letter-spacing: 0.07em;
}

.content + .bg-white {
  padding-block-end: 0;
}