@use "../config" as config;

#footer{
  padding:50px 0 30px;
  background:config.$color-black;
  color:config.$color-white;
  @include config.mq(sp) {
    padding:40px 0 20px;
  }
}

#footer .logo{
  width: 315px;
  margin:0 0 20px;
  @include config.mq(sp) {
    margin:0 auto 40px;
    width: 315px;
  }
}

#footer .navi_block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:0 0 50px;
  @include config.mq(sp) {
    display: block;
    margin:0 0 40px;
  }
}

#footer .navi_block .box{
  flex-basis:220px;
  padding-right:20px;
  @include config.mq(sp) {
    margin:0 0 10px;
  }
}

#footer .navi_block .box01{
  flex-basis:335px;
  padding-right:0;
  @include config.mq(sp) {
    margin-top:40px;
  }
}

#footer .navi li{
  display:block;
  position:relative;
  padding-left:15px;
  margin:0 0 10px;
  font-size:18px;
  line-height:1.6;
  font-weight: bold;
}

#footer .navi li:last-child{
  margin:0;
}

#footer .navi li a{
  color:config.$color-white;
  font-size:18px;
  line-height:1.6;
}

#footer .navi li:after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  margin:auto;
  width:8px;
  height:8px;
  border-radius:8px;
  background:config.$color-white;
}

#footer .navi.navi01{
  margin-top:5px;
}

#footer .navi.navi01 li a{
  font-size:14px;
  font-weight:normal;
}

#footer .navi.navi01 li{
  margin-bottom:5px;
  padding-left:30px;
}

#footer .navi.navi01 li:after{
  width:5px;
  height:1px;
  left:20px;
  border-radius:0;
}

.f_table{
  width:100%;
  font-size:14px;
}

.f_table th{
  width:6em;
  text-align:right;
  @include config.mq(sp) {
    width:5.5em;
  }
}

.f_table td,
.f_table th{
  vertical-align:top;
}

.f_table td a{
  text-decoration:underline;
  color:config.$color-white;
}

#footer .cp{
  font-size:10px;
  text-align:center;
  margin-top:20px;
  @include config.mq(sp) {
    padding-right:60px;
  }
}

// まるごと人事エージェント等に使用している、ロゴのみのヘッダー
footer.simple_format {
  background-color: config.$color-black;
  padding: 20px 0;
  color: config.$color-white;
  text-align: center;
  font-size: 12px;
  a {
    color: config.$color-white;
  }
}