---
const siteDomein = "https://mai-boku.jp/system_panel/uploads/images/";
---

<div class="section contactSection sectionBg">
    <div class="sectionBgImg">
        <img src={siteDomein + '20240605110247368517.png'} alt="背景用の画像" width="1440" height="423" class="img">
    </div>
    <div class="sectionInr">
        <div class="sectionHead">
            <p class="sectionEn">CONTACT</p>
            <h2 class="sectionTtl">お問い合わせ</h2>
            <div class="dotted">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p class="txt">毎日牧場のホームページをご覧いただきありがとうございます。<br>料理やメニューなどのお問い合わせは下記お電話、またはお問い合わせよりご連絡ください。</p>
        <div class="btnArea">
            <a href="tel:0559727720" class="telLink">
                <img src={siteDomein + '20240605163348327893.png'} alt="" width="32" height="32">
                <p class="telLinkTxt">055-972-7720</p>
            </a>
            <div class="contactBtnWrap">
                <a href="#" class="contactBtn">
                    <div class="contactBtnIcon">
                        <img src={siteDomein + '20240606100248914201.png'} alt="" class="contactIcon" width="20" height="20">
                        <img src={siteDomein + '20240605110053977188.png'} alt="" class="hoverIcon" width="20" height="20">
                    </div>
                    <p class="contactBtnTxt">お問い合わせフォーム</p>
                </a>
                <p class="txt">24時間受付</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footerRow flex">
        <div class="footerInfo">
            <div class="footerLogo">
                <img src={siteDomein + '20240605110247619956.png'} alt="毎日牧場 ロゴ画像" width="267" height="54" class="img">
            </div>
            <p class="footerAddress">静岡県駿東郡清水町湯川10-55</p>
            <a href="tel:0559727720" class="telLink footerTelLink">
                <p class="telLinkTxt">Tel.055-972-7720</p>
            </a>
        </div>
        <div class="footerLink">
            <a href="./" class="navLink">
                <p class="navLinkTxt">ホーム</p>
            </a>
            <a href="./commitment" class="navLink">
                <p class="navLinkTxt">こだわり</p>
            </a>
            <a href="./menu" class="navLink">
                <p class="navLinkTxt">メニュー</p>
            </a>
            <a href="./drink" class="navLink">
                <p class="navLinkTxt">ドリンク</p>
            </a>
            <a href="./takeout" class="navLink">
                <p class="navLinkTxt">テイクアウト</p>
            </a>
            <a href="./shop" class="navLink">
                <p class="navLinkTxt">店舗情報</p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">新着情報</p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">お問い合わせ</p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">プライバシーポリシー</p>
            </a>
            <div class="icons">
                <a href="#" target="_blank" rel="noopener" class="icon">
                    <img src={siteDomein + '20240605110054154178.png'} alt="Instagramアイコン画像" width="24" height="24" class="img">
                </a>
                <a href="#" target="_blank" rel="noopener" class="icon">
                    <img src={siteDomein + '20240605110053315974.png'} alt="Xアイコン画像" width="24" height="24" class="img">
                </a>
            </div>
        </div>
    </div>
    <div class="footerCopy">
        <p class="txt">&copy; 2024 有限会社竹榮亭
        </p>
        <div id="pageTopBtnLink" class="pageTopBtn">
            <a href="./" class="pageTopBtnLink">
                        <img src={siteDomein + '20240605152359774513.png'} alt="ページの上部へ戻る" width="2" height="12" class="img">
                    </a>
        </div>
    </div>
</div>