---
const siteDomein = "https://mai-boku.jp/system_panel/uploads/images/";
---

<div class="header" id="jsHeader">
    <div class="headerInr">
        <a href="./" class="logo">
            <img class="logoImg" src={siteDomein + '20240605110247619956.png'} alt="毎日牧場 ロゴ画像" width="267" height="54" class="logoImg" />
        </a>
        <div class="headerNav">
            <a href="./" class="navLink">
                <p class="navLinkTxt">ホーム</p>
            </a>
            <a href="./commitment" class="navLink">
                <p class="navLinkTxt">こだわり</p>
            </a>
            <a href="./menu" class="navLink">
                <p class="navLinkTxt">メニュー</p>
            </a>
            <a href="./drink" class="navLink">
                <p class="navLinkTxt">ドリンク</p>
            </a>
            <a href="./takeout" class="navLink">
                <p class="navLinkTxt">テイクアウト</p>
            </a>
            <a href="./shop" class="navLink">
                <p class="navLinkTxt">店舗情報</p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">新着情報</p>
            </a>
            <div class="icons">
                <a href="#" target="_blank" rel="noopener" class="icon">
                        <img src={siteDomein + '20240605110054154178.png'} alt="Instagramアイコン画像" width="24" height="24" class="defaultImg">
                        <img src={siteDomein + '20240605170237512357.png'} alt="Instagramアイコン画像" width="24" height="24" class="hoverImg">
                    </a>
                <a href="#" target="_blank" rel="noopener" class="icon">
                        <img src={siteDomein + '20240605110053315974.png'} alt="Xアイコン画像" width="24" height="24" class="defaultImg">
                        <img src={siteDomein + '20240605170237820978.png'} alt="Xアイコン画像" width="24" height="24" class="hoverImg">
                    </a>
            </div>
            <a href="tel:0559727720" class="telLink">
                <div class="telLinkIcon">
                    <img src={siteDomein + '20240605163348327893.png'} alt="電話アイコン画像" width="24" height="24" class="defaultImg" />
                    <img src={siteDomein + '20240605170237395740.png'} alt="電話アイコン画像" width="24" height="24" class="hoverImg" />
                </div>
                <p class="telLinkTxt">055-972-7720</p>
            </a>
            <a href="#" class="contactBtn">
                <div class="contactBtnIcon">
                    <img src={siteDomein + '20240605110053977188.png'} alt="" class="contactIcon defaultImg" width="20" height="20">
                    <img src={siteDomein + '20240606100248914201.png'} alt="" class="contactIcon hoverImg" width="20" height="20">
                </div>
                <p class="contactBtnTxt">お問い合わせ</p>
            </a>
        </div>
    </div>
    <div class="hamburger">
        <p class="span">
        </p>
        <p class="span">
        </p>
        <p class="span">
        </p>
    </div>
    <div class="globalMenuSp">
        <div class="hUl">
            <div class="hamburgerList">
                <a href="./" class="navLink">
                    <p class="navLinkTxt">ホーム
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./commitment" class="navLink">
                    <p class="navLinkTxt">こだわり
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./menu" class="navLink">
                    <p class="navLinkTxt">メニュー
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./drink" class="navLink">
                    <p class="navLinkTxt">ドリンク
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./takeout" class="navLink">
                    <p class="navLinkTxt">テイクアウト
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="./shop" class="navLink">
                    <p class="navLinkTxt">店舗情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="tel:0559727720" class="telLink navLink"><img src={siteDomein + '20240605170237395740.png'} alt="電話アイコン画像" width="24" height="24" class="img" />
                    <p class="telLinkTxt">055-972-7720
                    </p>
                </a>
                <a href="#" class="contactBtn">
                    <div class="contactBtnIcon">
                        <img src={siteDomein + '20240605110053977188.png'} alt="" class="contactIcon defaultImg" width="20" height="20">
                        <img src={siteDomein + '20240606100248914201.png'} alt="" class="contactIcon hoverImg" width="20" height="20">
                    </div>
                    <p class="contactBtnTxt">お問い合わせ</p>
                </a>
            </div>
        </div>
    </div>
</div>