/* -------------------------
コーポレートカラー
----------------------------*/
$color-yellow: #F9BB00;
$color-black: #3E3A39;
$color-white: #FFFFFF;

/* -------------------------
コーポレート サブカラー
----------------------------*/
$color-middle_yellow: #FCDF86;
$color-light_yellow: #FEF2CB;
$color-highlight_yellow: #FFF8E5;


$color-dark_gray: #9D9D9D;
$color-gray: #CCCED0;
$color-middle_gray: #EAEAEA;
$color-light_gray: #F7F7F7;

$color-orange: #FF8200;
$color-navy: #073763;

$color-light_blue: #A3D3FF;
$color-highlight_blue: #EAF0F9;


$color-red: #FF2C2C;

/* -------------------------
ガイドブック用カラー
----------------------------*/
$color-orange_gradation: linear-gradient(0deg, #FF2C2C 0%, #FF851D 100%);
$color-red_mid_shadow: 0 3px 12px rgba(188, 35, 35, .2);
$color-red_large_shadow: 0 6px 20px rgba(188, 35, 35, .2);

/* -------------------------
Wantedly用カラー
----------------------------*/
$color-highlight_yellow2: #fff5e6;
$color-highlight_yellow3: #ffd93b;
$color-highlight_blue2: #bfe3e8;
$color-highlight_blue3: #21bddb;
